/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: auto;
}

header {
    background: #333;
    color: #fff;
    padding: 15px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

footer {
    background:rgb(39, 38, 38);
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-top:500px;
}
.carousel-item{
    width:"300px";
    height:"40px";
    display: flex;
}
.carousel-inner{
    margin-top:20px;
}